### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

### Swift ###
# Xcode
*.xcodeproj/

*.xcuserdatad/
./xcuserdata/
bnpl.xcodeproj/project.pbxproj

## Build generated
build/
DerivedData/